{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "Test": true,
    "jQuery": true,
    "$": true,
    "moment": true,
    "SS": true,
    "Config": true,
    "WT": true,
    "ready": true,
    "dataLayer": true,
    "Trustpilot": true,
    "__NEXT_DATA__": true,
    "SCADataLayer": true,
    "require": true,
    "jfExperiment": true
  },
  "plugins": ["prettier", "import", "@typescript-eslint", "jsdoc"],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "project": "tsconfig.json",
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier",
    "eslint:recommended",
    "plugin:import/typescript",
    "plugin:import/recommended",
    "plugin:node/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:jsdoc/recommended"
  ],
  "rules": {
    "no-promise-executor-return": "off",
    "@typescript-eslint/default-param-last": ["off"],
    "import/prefer-default-export": "off",
    "node/no-missing-import": "off",
    "@typescript-eslint/naming-convention": "off",
    "no-restricted-imports": ["error", "waitFor"],
    "semi": "warn",
    "no-undef": "error",
    "no-mixed-spaces-and-tabs": "off",
    "no-use-before-define": "off",
    "no-empty": "warn",
    "no-extra-boolean-cast": "off",
    "camelcase": "off",
    "prefer-const": "warn",
    "prefer-arrow-callback": "warn",
    "quotes": "off",
    "vars-on-top": "off",
    "prettier/prettier": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "node/no-unpublished-require": "off",
    "import/no-extraneous-dependencies": "off",
    "prefer-regex-literals": "off",
    "no-param-reassign": "off",
    "jsdoc/require-param-type": "off",
    "jsdoc/require-returns-type": "off",
    "jsdoc/require-returns": "off",
    "jsdoc/require-param": "off",
    "eqeqeq": "off",
    "no-underscore-dangle": "warn",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
    "node/no-unpublished-import": "off",
    "no-continue": "off",
    "import/no-unresolved": "off",
    "spaced-comment": "off",
    "node/no-unsupported-features/es-syntax": [
      "error",
      {
        "ignores": ["modules"]
      }
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".d.ts"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "tsconfig.json"
      }
    },
    "node": {
      "tryExtensions": [".ts"]
    }
  },
  "ignorePatterns": ["jest.config.ts", "__tests__", "dist", "rollup.config.ts", "docs", "replacer.cjs"]
}
