.RAB_011160---trending-product-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
  padding: 0 8px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .RAB_011160---product-container {
    display: flex;
    flex: 0 0 calc(50% - 4px);
    flex-direction: column;
    justify-content: center;
    max-width: calc(50% - 4px);
    gap: 32px 8px;

    @media (max-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
      gap: 16px 8px;
    }

    .RAB_011160---header {
      color: #000;
      text-align: center;
      font-family: "Playfair Display";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 33.6px;
    }

    .RAB_011160---products {
      display: flex;
      overflow: hidden;
      gap: 8px;

      .swiper-wrapper {
        display: flex;
        gap: 8px;
      }

      .RAB_011160---product {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        max-width: 50%;
        align-items: baseline;
        gap: 8px 0;

        .RAB_011160---product-image img {
          width: 460px;
          min-height: 100%;
          max-width: calc(100% - 4px);
        }

        .RAB_011160---product-title h2 {
          color: #000;
          font-family: "Source Sans Pro";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22.4px;
          margin: 0;
        }

        .RAB_011160---product-desc {
          color: #000;
          font-family: "Source Sans Pro";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22.4px; /* 140% */
        }

        .RAB_011160---product-price {
          color: #000;
          font-family: "Source Sans Pro";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22.4px; /* 140% */
        }
      }
    }

    .RAB_011160---all-button-container {
      display: flex;
      min-height: 36px;
      justify-content: center;

      @media (max-width: 768px) {
        margin-left: 50%;
        transform: translateX(-50%);
      }

      a {
        border-radius: 4px;
        border: 1px solid #000;
        padding: 8px 62.524px 8px 62.88px;
        color: #000;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        background: #fff;

        @media (max-width: 768px) {
          padding: 8px 48px;
        }
      }
    }
  }
}
