.ssr-carousel-slide {
  .touch-pan-y.touch-pan-x {
    picture {
      transform: scale(1) !important;
    }
  }
}

.TOS_008738--gallery {
  opacity: 0;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  .modal-default {
    --tw-bg-opacity: 1;

    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 4rem);
    max-width: 90vw;
    text-align: center;
    width: 100%;
    z-index: 30;

    .modal-default-header {
      --tw-text-opacity: 1;
      --tw-bg-opacity: 1;

      color: rgb(6 92 171 / var(--tw-text-opacity));
      font-family: Gilroy, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.7rem;
      padding: 12px 16px;
      position: relative;
      text-align: left;
      width: 100%;
      background-color: rgb(254 226 0 / var(--tw-bg-opacity));

      h2 {
        opacity: 0;
        visibility: hidden;
      }
    }

    .close-modal {
      svg {
        height: 32px;
        width: 32px;
      }
    }
  }

  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        picture {
          max-width: unset !important;
        }
      }
    }
  }
}
